<ng-container *ngIf="isWeaponDefined(weapon); else elseBlock">
  <app-weapon
    class="terminus-options__weapon"
    [weapon]="weapon"
  />
  <form>
    <fieldset class="terminus-options__fieldset">
      <legend>Base Attributes</legend>
      <app-number-input
        id="attack"
        label="Attack"
        [max]="weapon.attributes.attack.max"
        [min]="weapon.attributes.attack.min"
        [value]="weapon.attributes.attack.current"
      />
      <app-number-input
        id="endurance"
        label="Endurance"
        [max]="weapon.attributes.endurance.max"
        [min]="weapon.attributes.endurance.min"
        [value]="weapon.attributes.endurance.current"
      />
      <app-number-input
        id="speed"
        label="Speed"
        [max]="weapon.attributes.speed.max"
        [min]="weapon.attributes.speed.min"
        [value]="weapon.attributes.speed.current"
      />
      <app-number-input
        id="magical-power"
        label="Magical Power"
        [max]="weapon.attributes.magicalPower.max"
        [min]="weapon.attributes.magicalPower.min"
        [value]="weapon.attributes.magicalPower.current"
      />
    </fieldset>
    <fieldset class="terminus-options__fieldset">
      <legend>Elemental Attributes</legend>
      <app-number-input
        id="fire"
        label="Fire"
        [max]="weapon.attributes.fire.max"
        [min]="weapon.attributes.fire.min"
        [value]="weapon.attributes.fire.current"
      />
      <app-number-input
        id="ice"
        label="Ice"
        [max]="weapon.attributes.ice.max"
        [min]="weapon.attributes.ice.min"
        [value]="weapon.attributes.ice.current"
      />
      <app-number-input
        id="thunder"
        label="Thunder"
        [max]="weapon.attributes.thunder.max"
        [min]="weapon.attributes.thunder.min"
        [value]="weapon.attributes.thunder.current"
      />
      <app-number-input
        id="wind"
        label="Wind"
        [max]="weapon.attributes.wind.max"
        [min]="weapon.attributes.wind.min"
        [value]="weapon.attributes.wind.current"
      />
      <app-number-input
        id="holy"
        label="Holy"
        [max]="weapon.attributes.holy.max"
        [min]="weapon.attributes.holy.min"
        [value]="weapon.attributes.holy.current"
      />
    </fieldset>
    <fieldset class="terminus-options__fieldset">
      <legend>Anti-monster Attributes</legend>
      <app-number-input
        id="anti-dragon"
        label="Anti-dragon"
        [max]="weapon.attributes.antiDragon.max"
        [min]="weapon.attributes.antiDragon.min"
        [value]="weapon.attributes.antiDragon.current"
      />
      <app-number-input
        id="anti-undead"
        label="Anti-undead"
        [max]="weapon.attributes.antiUndead.max"
        [min]="weapon.attributes.antiUndead.min"
        [value]="weapon.attributes.antiUndead.current"
      />
      <app-number-input
        id="anti-marine"
        label="Anti-marine"
        [max]="weapon.attributes.antiMarine.max"
        [min]="weapon.attributes.antiMarine.min"
        [value]="weapon.attributes.antiMarine.current"
      />
      <app-number-input
        id="anti-rock"
        label="Anti-rock"
        [max]="weapon.attributes.antiRock.max"
        [min]="weapon.attributes.antiRock.min"
        [value]="weapon.attributes.antiRock.current"
      />
      <app-number-input
        id="anti-plant"
        label="Anti-plant"
        [max]="weapon.attributes.antiPlant.max"
        [min]="weapon.attributes.antiPlant.min"
        [value]="weapon.attributes.antiPlant.current"
      />
      <app-number-input
        id="anti-beast"
        label="Anti-beast"
        [max]="weapon.attributes.antiBeast.max"
        [min]="weapon.attributes.antiBeast.min"
        [value]="weapon.attributes.antiBeast.current"
      />
      <app-number-input
        id="anti-sky"
        label="Anti-sky"
        [max]="weapon.attributes.antiSky.max"
        [min]="weapon.attributes.antiSky.min"
        [value]="weapon.attributes.antiSky.current"
      />
      <app-number-input
        id="anti-metal"
        label="Anti-metal"
        [max]="weapon.attributes.antiMetal.max"
        [min]="weapon.attributes.antiMetal.min"
        [value]="weapon.attributes.antiMetal.current"
      />
      <app-number-input
        id="anti-mimic"
        label="Anti-mimic"
        [max]="weapon.attributes.antiMimic.max"
        [min]="weapon.attributes.antiMimic.min"
        [value]="weapon.attributes.antiMimic.current"
      />
      <app-number-input
        id="anti-mage"
        label="Anti-mage"
        [max]="weapon.attributes.antiMage.max"
        [min]="weapon.attributes.antiMage.min"
        [value]="weapon.attributes.antiMage.current"
      />
    </fieldset>
  </form>
</ng-container>
<ng-template #elseBlock>
  <p>Not Set</p>
</ng-template>
