:host {
  align-items: center;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.5;
  padding: 5px;
  text-align: center;
}

:host(.weapon--highlighted) {
  opacity: 1;
}

.weapon {
  &__icon {
    height: 35px;
    width: 35px;
  }
}
