:host {
  align-items: center;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  text-align: center;
}

.weapon {
  &__icon {
    height: 35px;
    width: 35px;

    &--unselectable {
      background-color: yellow;
    }
  }
}
